body {
  background-color: #fafafa;
  color: #212529;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.dropzone {
  border: 2px dashed #6c757d;
  border-radius: 6px;
  padding: 25px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}
.dropzone:hover {
  border-color: #343a40;
}
.dropzone p {
  margin: 0;
  font-size: 1rem;
  color: #6c757d;
}
.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.dropzone.dragover {
  background-color: #e9ecef;
  border-color: #007bff;
}

body.dark-mode {
  background-color: #212529;
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #343a40 !important;
}
body.dark-mode .navbar-light .navbar-brand,
body.dark-mode .navbar-light .navbar-nav .nav-link,
body.dark-mode .custom-control-label {
  color: #f8f9fa;
}

body.dark-mode .dropzone {
  border-color: #adb5bd;
}
body.dark-mode .dropzone p {
  color: #adb5bd;
}
body.dark-mode .dropzone.dragover {
  background-color: #495057;
  border-color: #0d6efd;
}

body.dark-mode .form-control {
  background-color: #495057;
  color: #fff;
  border: 1px solid #6c757d;
}
